body {
    padding: 0;
    margin: 0;
    background: grey;
}


#wrapper{
    margin: 0 auto;
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 5fr;
    grid-gap: 20px;
    grid-template-areas: 'google google google' 'activity weather insult';
}

#wrapper{

    div {
        border: 1px black solid;
        width: 100%;
        height: 100%;
    }
}

#google{
    grid-area: google;
}

#activity{
    grid-area: activity;
}

#weather{
    grid-area: weather;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}

#icon{
    grid-column-start: 1;
    grid-column-end: 3;
}

#insult{
    grid-area: insult;
}

